In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
Bonus Questions (Optional)

What is the most popular hour for returning cars?
What station is the most popular?
Overall?
At the most popular picking hour?
What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
Overall?
At the most popular picking hour?
Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

IMPORTING LIBRARIES

In [ ]:
# importing libraries
import pandas as pd
import numpy as np
from google.colab import files

LOADING DATASET

In [ ]:
# setting the location for the data in this case

url = 'http://bit.ly/autolib_dataset'

# storing the data in a dataframe
df = pd.read_csv(url)

# previewing the dataset
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

DATASET PREVIEW

In [ ]:
# Previewing the dataset
df.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

DATASET INFO

In [ ]:
# printing the data types in the dataset
print(df.dtypes)

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [ ]:
# view columns in data frame
df.columns.values.tolist()

['Address',
 'Cars',
 'Bluecar counter',
 'Utilib counter',
 'Utilib 1.4 counter',
 'Charge Slots',
 'Charging Status',
 'City',
 'Displayed comment',
 'ID',
 'Kind',
 'Geo point',
 'Postal code',
 'Public name',
 'Rental status',
 'Scheduled at',
 'Slots',
 'Station type',
 'Status',
 'Subscription status',
 'year',
 'month',
 'day',
 'hour',
 'minute']

DATA CLEANING

In [ ]:
# knowing the non-missing values
df.count()

Address                5000
Cars                   5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
Displayed comment       111
ID                     5000
Kind                   5000
Geo point              5000
Postal code            5000
Public name            5000
Rental status          5000
Scheduled at             47
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
year                   5000
month                  5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

In [ ]:
# # accessing dataset info
df.info

<bound method DataFrame.info of                                  Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]>

In [ ]:
# checking the missing values
df.isnull().sum().sort_values(ascending=False)

Scheduled at           4953
Displayed comment      4889
Address                   0
Public name               0
hour                      0
day                       0
month                     0
year                      0
Subscription status       0
Status                    0
Station type              0
Slots                     0
Rental status             0
Postal code               0
Cars                      0
Geo point                 0
Kind                      0
ID                        0
City                      0
Charging Status           0
Charge Slots              0
Utilib 1.4 counter        0
Utilib counter            0
Bluecar counter           0
minute                    0
dtype: int64

In [ ]:
# counting missing values in dataframe
df_missing = len(df) - df.count()
df_missing

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [ ]:
# counting missing values in dataframe
np.count_nonzero(df.isnull())

9842

In [ ]:
# dropping missing values in dataset
clean_df = df.dropna()
print(clean_df)

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Displayed comment, ID, Kind, Geo point, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

In [ ]:
# confirming there are no longer any null values in dataset
print(clean_df.isnull() .sum())

Address                0.0
Cars                   0.0
Bluecar counter        0.0
Utilib counter         0.0
Utilib 1.4 counter     0.0
Charge Slots           0.0
Charging Status        0.0
City                   0.0
Displayed comment      0.0
ID                     0.0
Kind                   0.0
Geo point              0.0
Postal code            0.0
Public name            0.0
Rental status          0.0
Scheduled at           0.0
Slots                  0.0
Station type           0.0
Status                 0.0
Subscription status    0.0
year                   0.0
month                  0.0
day                    0.0
hour                   0.0
minute                 0.0
dtype: float64

In [ ]:
# checking duplicates
df.duplicated().value_counts()

False    5000
dtype: int64

In [ ]:
# dropping duplicates
df = df.drop_duplicates(inplace=True)
df